@import "./reset.css";
@import "./utilities.css";
@import "./variables.css";

body {
	font-size: var(--fs-regular);
	font-family: var(--ff-regular);
	color: var(--clr-black);
}

.mobile-hamburger {
	display: none;
}

.primary-header {
	position: absolute;
	height: 200px;
	inset: 0;

	padding: var(--size-900) 0;
}

.primary-header > .container {
	display: flex;
	justify-content: space-between;
}

.nav-list {
	display: flex;
	gap: var(--size-700);
	font-size: var(--font-size-navigation);
	font-weight: var(--font-weight-semi-bold);
}

.nav-list a {
	text-decoration: none;
	color: var(--clr-white);
	font-size: var(--size-400);
	font-family: var(--ff-regular);
}

.nav-list a:after {
	display: block;
	content: "";
	padding-top: 4px;
	border-bottom: solid 2px var(--clr-white);
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.nav-list a:hover:after {
	transform: scaleX(1);
}

@media (max-width: 50em) {
	body {
		overflow-x: hidden;
	}

	.mobile-hamburger {
		display: block;
		cursor: pointer;
		background: transparent;
		border: 0;
		padding: 0.5em;
		position: absolute;
		top: 0;
		right: 0;
	}

	.primary-navigation {
		display: none;
	}

	.primary-header > .container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}

	.primary-header > .container > a {
		position: absolute;
		top: 0;
		left: 0;
	}

	.nav-list {
		display: grid;
		gap: var(--size-500);
		text-align: left;
		color: var(--clr-white);
		font-weight: var(--font-weight-bold);
	}

	.primary-header[data-visible] {
		display: block;
		position: fixed;
		inset: 0;
		height: 100%;
		background-color: black;
	}

	.primary-header[data-visible] .primary-navigation {
		display: block;
	}

	.primary-header[data-visible] .nav-list {
		gap: var(--size-200);
	}

	.primary-header[data-visible] .nav-list a {
		font-size: 1.75rem;
		font-weight: var(--fw-light);
		font-family: var(--ff-light);
	}
}

.icon-close {
	display: none;
}

.introduction {
	display: grid;
	align-content: center;
	width: 100%;
	height: 800px;
	background: rgba(0, 0, 0, 0.35) url("../images/desktop/image-hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
}

.introduction__heading {
	color: var(--clr-white);
	max-width: 15ch;
	line-height: 1.05;
	text-transform: uppercase;
	font-weight: var(--fw-light);
	font-size: var(--size-900);
	font-family: var(--ff-light);

	padding: var(--size-700);
	padding-right: var(--size-900);
	outline: 3px var(--clr-white) solid;
}

.interactive {
	position: relative;
	margin-top: 9rem;
}

.interactive__text {
	position: absolute;
	display: grid;
	place-content: end;
	justify-content: center;
	align-items: center;
	bottom: 0%;
	right: 0%;
	width: 550px;
	height: 300px;
	background-color: white;
	color: var(--clr-dark-gray);
}

.text__container {
	margin-left: var(--size-900);
}

.text__container > p {
	padding-top: var(--size-500);
	line-height: 1.75;
}

.creations {
	margin-top: 9rem;
}

.creations__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--size-700);
}

.creations__title > h2 {
	font-family: var(--ff-light);
	font-size: var(--size-700);
	text-transform: uppercase;
}

.creations__title > button {
	border: none;
	background: none;
	outline: 2px solid black;
	height: fit-content;
	padding: var(--size-200) var(--size-500);
	text-transform: uppercase;
	letter-spacing: var(--size-100);
}

.creations__title > button:hover {
	cursor: pointer;
	background-color: var(--clr-black);
	color: var(--clr-white);
}

.creations__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--size-500);
}

.list__item {
	position: relative;
	z-index: 0;
}

.list__item:hover .image-darken {
	background: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.list__item:hover .item__caption {
	color: var(--clr-black);
}

.image-darken {
	position: absolute;
	inset: 0;
	z-index: 22;
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.55));
}

.item__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 33;
	font-size: var(--size-600);
	font-family: var(--ff-light);
	font-weight: var(--fw-light);
	color: var(--clr-white);
	text-transform: uppercase;
	width: 10ch;
	line-height: 1.05;
	padding-left: var(--size-600);
	padding-bottom: var(--size-500);
}

#thegrid {
	width: 4ch;
}

footer {
	margin-top: 9rem;
	background-color: var(--clr-black);
	padding-top: var(--size-700);
	padding-bottom: var(--size-600);
}

.footer {
	display: flex;
	justify-content: space-between;
}

.secondary-navigation {
	padding-top: var(--size-600);
}

.copyright {
	padding-top: var(--size-600);
	color: var(--clr-dark-gray);
	font-size: 1.2rem;
}

.social-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.social-list {
	display: flex;
	gap: var(--size-500);
	justify-content: end;
}
