@import "./reset.css";
@import "./utilities.css";
@import "./variables.css";

body {
	font-size: var(--fs-regular);
	font-family: var(--ff-regular);
	color: var(--clr-black);
}

ul {
	list-style: none;
}

.mobile-hamburger {
	display: none;
}

.primary-header {
	position: absolute;
	height: 200px;
	inset: 0;

	padding: var(--size-900) 0;
}

.primary-header > .container {
	display: flex;
	justify-content: space-between;
}

.nav-list {
	display: flex;
	gap: var(--size-700);
	font-size: var(--font-size-navigation);
	font-weight: var(--font-weight-semi-bold);
}

.nav-list a {
	text-decoration: none;
	color: var(--clr-white);
	font-size: var(--size-400);
	font-family: var(--ff-regular);
}

.nav-list a:hover,
nav-list a:focus-visible {
	color: var(--clr-neutral-blue-100);
}

@media (max-width: 57.815em) {
	.mobile-hamburger {
		display: block;
		cursor: pointer;
		background: transparent;
		border: 0;
		padding: 0.5em;
	}

	.primary-navigation {
		display: none;
		position: fixed;
		padding: var(--size-700);
		inset: 7rem var(--size-400) auto;
		background: white;
		border-radius: var(--size-100);
	}

	.primary-header[data-overlay]::before {
		content: "";
		position: fixed;
		inset: 0;
		pointer-events: none;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
	}

	.nav-list {
		display: grid;
		gap: var(--size-500);
		text-align: center;
		font-weight: var(--font-weight-bold);
	}

	.primary-navigation[data-visible] {
		display: block;
	}

	.primary-header > .container > .button {
		display: none;
	}
}

.icon-close {
	display: none;
}

.introduction {
	display: grid;
	align-content: center;
	width: 100%;
	height: 800px;
	background: rgba(0, 0, 0, 0.35) url("../images/desktop/image-hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
}

.introduction__heading {
	color: var(--clr-white);
	max-width: 15ch;
	line-height: 1.05;
	text-transform: uppercase;
	font-weight: var(--fw-light);
	font-size: var(--size-900);
	font-family: var(--ff-light);

	padding: var(--size-700);
	padding-right: var(--size-900);
	outline: 3px var(--clr-white) solid;
}

.interactive {
	position: relative;
	margin-top: 9rem;
}

.interactive__text {
	position: absolute;
	display: grid;
	place-content: end;
	justify-content: center;
	align-items: center;
	bottom: 0%;
	right: 0%;
	width: 550px;
	height: 300px;
	background-color: white;
	color: var(--clr-dark-gray);
}

.text__container {
	margin-left: var(--size-900);
}

.text__container > p {
	padding-top: var(--size-500);
	line-height: 1.75;
}

.creations {
	margin-top: 9rem;
}

.creations__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: var(--size-700);
}

.creations__title > h2 {
	font-family: var(--ff-light);
	font-size: var(--size-700);
	text-transform: uppercase;
}

.creations__title > button {
	border: none;
	background: none;
	outline: 2px solid black;
	height: fit-content;
	padding: var(--size-200) var(--size-500);
	text-transform: uppercase;
	letter-spacing: var(--size-100);
}

.creations__title > button:hover {
	cursor: pointer;
}

.creations__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--size-500);
}

.list__item {
	position: relative;
	isolation: isolate;
	z-index: 0;
}

.image-darken {
	position: absolute;
	inset: 0;
	z-index: 22;
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.55));
}

.item__caption {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 33;
	font-size: var(--size-600);
	font-family: var(--ff-light);
	font-weight: var(--fw-light);
	color: var(--clr-white);
	text-transform: uppercase;
	width: 10ch;
	line-height: 1.05;
	padding-left: var(--size-600);
	padding-bottom: var(--size-500);
}

#thegrid {
	width: 4ch;
}
